
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;600;700&family=Poppins:ital,wght@0,100;1,100&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #ecf0f3;
    display: flex;
  
    text-align: center;
    justify-content: center;
    place-items: center;
    
    overflow:hidden;
    font-family: 'Poppins', sans-serif;
  background: linear-gradient(60deg, rgba(215, 100, 233, 0.678),  rgba(90, 199, 47, 0.815));  
   
}
form{
    
    border: 2px solid rgb(255, 255, 255);
    border-radius: 9px;
 font-family: 'Varela Round', sans-serif;;
    width: 100;
    font-style: oblique;
    overflow: hidden;
    opacity: 1.0;
    background-color: #c0bebe47;
}

.button1{
    border: 1px solid green;
    border-color: green;
    border-style: solid;
    color: lawngreen;
    background-color: green;
    width: 150px;
    height: 50px;
    text-decoration: none;
    text-transform: capitalize;

}
.button1:hover{
    background-color: #000;
    color: #fff;
}
.button2{
    background-color: #000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    border-block: 1px;
    text-transform: capitalize;
}
.button2:hover{
    background-color: white;
    color: #000; 
}
.button2:focus{
 background-color: white;
 color: #000;   
}
label{
    display: inline-block;
    width:150px;
    padding: 8px;
    margin: 4px;
}
    input{
        border-radius: 8px;
        border-color: rgb(180, 179, 179);
        padding: 8px;
        margin: 5px;
    }
    input:hover{
        box-shadow: none;  
    }
    input:focus{
    filter: none;
    border: none;
    }
   #USERNAME{
        margin-top: 70px;
        text-transform: uppercase;
    }
    #r{
        margin-bottom: 40px;
    }
    #dob{
        box-sizing: border-box;
        width: 200px;
        margin-top: 6px;
    }
    #USERNAME:focus, #r:focus, #dob:focus, #email:focus, #password:focus, #cont:focus{
        box-shadow: inset 0 0 7px 5px #ddd;
        box-shadow:  5px 3px 3px 4px #999;
    }
    #USERNAME, #dob, #email, #password, #cont{
        cursor: text;
    }
.g{
    display: inline-flex;
    box-sizing: content-box;
   margin-left: 1px;
    padding: 9px;
}
.warn{
 display: inline-flex;
 width:300px;
 margin:auto;
 padding: auto;
 align-items: left;
}
p{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: xx-large;
    padding-top: 48px;
    -webkit-animation: backwards;
    -webkit-animation-direction: top;
}
span{
    
    transition: all 3s ease;
 
}
span.fade{
   color:blue ;
}
a{
    text-decoration: none;
    color:#fff;
}
nav{
    border:3px solid #000;
    background-color: green;
    border-radius: 8px;
    width: 100%;
    font-family: monospace;
    background-position-y: top;
}
